<%- include('./partials/head') %>
<!-- <article>
  <header>
    <h1>Hallo</h1>
    <p>mijn naam is</p>
  </header>

  <p><%= data.name %></p>
  <p><%= data.surname %></p>

  <footer></footer>
</article> -->
<div class="plane main" id="mouse-follow">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
</div>
<article>
  <header>
    <h1><%= data.name %></h1>

    <button alt="expand button">[]</button>
    <img src="" alt="profile picture" width="800" height="800" />
  </header>

  <section>
    <dl class="info1">
      <dt>
        <h2>school</h2>
        <%= data.custom.School %>
      </dt>
      <dt>
        <h2>part-time job</h2>
        <%= data.custom.jobs %>
      </dt>
      <dt>
        <h2>interns</h2>
        <%= data.custom.intern %>
      </dt>
      <dt>
        <h2>games</h2>
        <%= data.custom.Games %>
      </dt>
      <dt>
        <h2>sports</h2>
        <%= data.custom.Sport %>
      </dt>
    </dl>

    <dl class="info2">
      <dt>
        <h2>Full-Name</h2>
        <%= data.name %> <%= data.surname %>
      </dt>
      <dt>
        <h2>age</h2>
        <%= data.custom.leeftijd %>
      </dt>
      <dt>
        <h2>city</h2>
        <%= data.custom.stad %>
      </dt>
    </dl>
  </section>
  <section class="about">
    <div>
      <h2>about me</h2>
      <p><%= data.bio %></p>
    </div>
    <div>
      <dl>
        <dt>
          <h2>Nickname</h2>
          <%= data.nickname %>
        </dt>
        <dt>
          <h2>klas</h2>
          <%= data.id.name %>
        </dt>
      </dl>
    </div>
  </section>
</article>

<%- include('./partials/foot') %>
